@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type="range"]::-webkit-slider-thumb {
    @apply rounded-full appearance-none w-8 h-8 bg-green-600 border-green-800 border-solid border-2
  }
  input[type="range"]::-webkit-slider-runnable-track {
    @apply appearance-none
  }
  input[type="range"] {
    @apply px-1 w-full h-10 appearance-none rounded-full border-yellow-600 bg-yellow-300 border-2 border-solid
  }
  .range-value {
    @apply text-lg font-semibold pl-3 items-center flex rounded-l-full bg-yellow-600 text-yellow-300 w-20 mr-[-20px]
  }
  .range-value input {
    @apply bg-yellow-600 focus:outline-none
  }
}

.flex-container {
  height: 1000px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bg-image { 
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -999;
  background: url('/public/background.png'); 
  -webkit-background-size: 25%;
  -moz-background-size: 25%;
  -o-background-size: 25%;
  background-size: 25%;
  transform: rotate3d(-25deg) scale(200%);
  -webkit-transform: rotate(-25deg) scale(200%);
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inline-text {
  margin: 2px 0;
}

.p {
  padding: 8px;
}

.canvas-container {
  position: relative;
  width: fit-content;
  border: 2px solid #000;
  display: grid;
  touch-action: none;
}

.canvas-layer {
  grid-column: 1;
  grid-row: 1;
  cursor: none;
}

.canvas-menu {
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(100, 100, 100, 0.7);
  padding: 16px;
}

.canvas-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.canvas-menu-footer {
  margin-top: auto;
}

.canvas-menu-toggle {
  position: absolute;
  bottom: 0;
  left: 0;
}
