/* @tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
} */

.canvas-container {
  position: relative;
  border: 2px solid #000;
  display: grid;
  touch-action: none;
}

.canvas-layer {
  grid-column: 1;
  grid-row: 1;
  cursor: none;
}

.canvas-menu {
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  background-color: white;
  padding: 8px;
}

.canvas-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.canvas-menu-footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.canvas-menu-toggle {
  position: absolute;
  bottom: 0;
  right: 0;
}
